<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#">Users</a></li>
  <li role="presentation"><a href="<%= roles_path %>">Roles</a></li>
</ul>


<h1>Users</h1>

<% if notice.present? %>
<p class="alert alert-success"><%= notice %></p>
<% end %>

<%= link_to new_user_path, class: 'btn btn-primary', role: 'button' do %>
  <span class="glyphicon glyphicon-plus"></span> New User
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Name.#</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.display_name %></td>
        <td><%= user.name_n %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


