<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#">Users</a></li>
  <li role="presentation"><a href="<%= roles_path %>">Roles</a></li>
</ul>


<h1>Users</h1>

<% if notice.present? %>
<p class="alert alert-success"><%= notice %></p>
<% end %>

<%= create_user_link %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Name.#</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.display_name %></td>
        <td><%= user.name_n %></td>
        <td><%= user.email %></td>
        <td>
          <%= masquerade_user_link(user) %>
          <%= edit_user_link(user) %>
          <%= delete_user_link(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


