<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, 'error') %> prohibited this role from being saved:</h2>

      <ul>
        <% @role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Role Name', class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.collection_check_boxes(:permission_ids, OsuAuth::Permission.all, :name, :description) do |b| %>
      <%=  b.check_box(@role.has_permission?(b.value) ? {checked: 'checked'} : {})  %>
      <%=  b.label %>
    <% end %>
  </div>

  <%= f.hidden_field :id %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', roles_path, class: 'btn btn-default' %>
  </div>
<% end %>
